.columns {
  margin-bottom: 90px;
}

.columns:first-of-type {
  margin-top: 60px;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns h4 {
  margin-bottom: 30px;
}

.columns p {
  font-size: 16px;
  line-height: 25px;
  color: rgb(64 64 64);
}

@media (width >= 900px) {
  .columns > div {
    align-items: flex-start;
    flex-direction: unset;
  }

  .columns > div > .columns-img-col {
    width: 465px;
    flex: 0 0 465px;
  }

  .columns > div > div:not(.columns-img-col) {
    flex: 1;
    order: unset;
    padding-left: 25px;
  }
}
